* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: #FFFFFF;
}

nav {
    display: grid;
}

.nav__list {
    margin-top: 51px;
    justify-self: center;
    list-style: none;
    display: flex;
}

.nav__item {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #454545
}

.nav__item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FF9900;
}

.nav__home {
    text-decoration: underline;
    color: #FF9900;
}

.nav__search {
    margin-top: 3.5px;
}

.nav__search:hover {
    filter: invert(57%) sepia(74%) saturate(1539%) hue-rotate(0deg) brightness(103%) contrast(103%);
}

.menu {
    display: none;
}

.logo {
    margin-top: 51px;
    position: absolute;
    right: 75px;
}

.logo:hover {
    cursor: pointer;
}

.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: #454545;
}

.carousel {
    margin: 33px 0 0 140px;
}

.carousel section {
    width: 190px;
    margin-right: 20px;
}

.carousel__header {
    margin-right: 48px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.carousel__title {
    font-size: 36px;
    font-weight: 900;
    color: #00B2FF;
}

.page__count {
    display: flex;
    align-items: center;
}

.count__box {
    width: 37px;
    height: 26px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #00B2FF;
}

.circle {
    height: 15px;
    width: 15px;
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #00B2FF;
}

.count__number {
    font-size: 18px;
    font-weight: 600px;
    color: #00B2FF;
}

.carousel__content {
    width: auto;
    transition: all 1s;
    display: flex;
    align-items: start;
    overflow: hidden;
}

.section__img-box {
    height: 270px;
    width: 189px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 8px 35px rgba(130, 130, 130, 0.6);
}

.section__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.section__title {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.carousel__footer {
    width: calc(100% - 140px);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.footer__left {
    margin-right: 90px;
}

.footer__left:hover,
.footer__right:hover {
    cursor: pointer;
}

.carousel--orange {
    margin-top: 0;
    margin-bottom: 50px;
}

.carousel--orange .carousel__title,
.carousel--orange .count__number {
    color: #FF9900;
}

.carousel--orange .circle {
    background-color: #FF9900;
}

.carousel--orange .count__box {
    border-bottom-color: #FF9900;
}

.carousel--orange .footer__left,
.carousel--orange .footer__right {
    filter: invert(57%) sepia(74%) saturate(1539%) hue-rotate(0deg) brightness(103%) contrast(103%);
}

.section__img-box:hover {
    cursor: pointer;
    box-shadow: none;
    box-shadow: 5px 8px 30px #FF9900;
}

.tooltip {
    display: none;
    height: 962px;
    width: 398px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    background: linear-gradient(180.55deg, #F6F6F6 0.48%, rgba(247, 247, 247, 0) 179.72%);
    backdrop-filter: blur(30px);
    border-radius: 0px 60px 60px 0px;
    animation: scale .35s;
}

.tooltip--exit {
    animation-direction: reverse;
    animation: scale .35s;
}

@keyframes scale-out {
    from {
        transform: scale(100%, 100%);
        opacity: 1;
    }
    to {
        transform: scale(0, 100%);
        opacity: 0;
    }
}

@keyframes scale {
    from {
        transform: scale(0, 100%);
        opacity: 0;
    }
    to {
        transform: scale(100%, 100%);
        opacity: 1;
    }
}

.background {
    height: 373px;
    width: 378.54px;
    margin: 10px 9.73px 34px;
    border-radius: 60px 60px 0px 0px;
    position: relative;
}

.background__img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 0 60px 0 0;
}

.back {
    height: 44px;
    width: 44px;
    top: 25px;
    right: 25.27px;
    border-radius: 50%;
    background: rgba(49, 49, 49, 0.7);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back:hover {
    cursor: pointer;
}

.categories {
    height: 54px;
    width: 100%;
    margin-bottom: 30.63px;
    display: grid;
    grid-template-areas: '1 2 3 4' '5 5 5 5';
}

.categories__item {
    height: 21px;
    width: auto;
    border-radius: 20px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.categories__text {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #808080;
}

.tooltip__datas {
    margin: 0 23.82px 30px 24px;
    display: flex;
    justify-content: space-between;
}

.datas__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #2267CE;
}

.tooltip__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000000;
}

.tooltip__description {
    margin: 0 19.46px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.tooltip__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip__play {
    width: 360px;
    height: 42px;
    border-radius: 60px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #FFFFFF;
    background-color: #FF9900;
}

.tooltip__playlist {
    margin-top: 20px;
    color: #000000;
    border: 2px solid #000;
    background-color: transparent;
}

.tooltip__play:hover {
    background-color: #955900;
}

.tooltip__playlist:hover {
    color: #5b5b5b;
    border: 2px solid #5b5b5b;
    background-color: transparent;
}

.script {
    display: none;
}

@media (max-width: 1024px) {
    nav {
        height: 83.5px;
        display: flex;
        margin: 0 16px;
        align-items: center;
        justify-content: space-between;
        animation: down .35s;
        transition: all .5s;
    }
    .nav__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 26px;
        left: 16px;
        animation: down .35s;
        margin-top: 0;
    }
    @keyframes down {
        0% {
            opacity: 0;
            transform: rotateX(-90deg);
        }
        50% {
            transform: rotateX(-20deg);
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg);
        }
    }
    .nav__item {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .nav__search {
        display: none;
    }
    .menu {
        margin-top: 3px;
        transition: all .25s;
        display: block;
    }
    .logo {
        margin: 0;
        right: 16px;
    }
    .carousel {
        max-height: 388px;
        margin: 0 16px 40px;
        overflow: hidden;
    }
    .carousel__content {
        height: 399px;
        overflow: scroll;
    }
    .page__count {
        display: none;
    }
    .carousel__footer {
        display: none;
    }
    section {
        flex: none;
    }
    .tooltip {
        width: 100%;
        max-width: 398px;
    }
    .tooltip__buttons {
        margin: 0 16px;
    }
    .tooltip__play {
        width: 100%;
    }
    .background {
        width: calc(100% - 16px);
        margin-right: 16px;
    }
}